<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"></h1>
            <p class="lead fw-normal text-white-50 mb-0">
                
            </p>
            <div class="starwars-demo lead fw-normal text-white-50 mb-0">
                <img src="//cssanimation.rocks/demo/starwars/images/star.svg" alt="Star" class="star">
                <img src="//cssanimation.rocks/demo/starwars/images/wars.svg" alt="Wars" class="wars">
                <h2 class="byline" id="byline">The Force Awakens</h2>
            </div>
            <audio id="bgAudio" controls autoplay loop>
                <source src="http://www.thesoundarchive.com/starwars/star-wars-theme-song.mp3" />
                  Your browser does not support the audio element.
              </audio>
        </div>
    </div>
</header>