

<section class="py-5">
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
            <button class="btn btn-outline-dark mt-auto" (click)="previous(-1)">Previous</button>
            <button class="btn btn-outline-dark mt-auto" style="margin-left: 5%;" (click)="next(+1)">Next</button>
        </div>
    </div>
    
    <div *ngIf="loading" class="text-center">
        <div class="spinner-border text-dark" role="status">
        </div>
    </div>
    <div  *ngIf="!loading" class="container px-4 px-lg-5 mt-5" style="cursor: pointer;">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div  class="col mb-5" *ngFor="let characters of characters" (click)="goToDetails(characters)">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" [src]="characters.img" alt="..." /> 
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{characters.name}}</h5> 
                            <!-- Product price-->
                            Birth year: {{characters.birth_year}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto" (click)="goToDetails(characters)">View Details</button>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</section>